<div class="jumbotron text-center">
  <h1 class="display-4">Hangman</h1>
  <hr>
  <p>Welcome to Hangman!</p> 
  <p class="text-muted">Guess the letters of a word; a correct guess will fill in the blanks, and an incorrect guess
will add a body part to the hangman drawing.</p>
<p class="text-muted">Try to guess the word before the picture is complete!</p>
</div>

<div class="text-center">
  <button class="btn btn-lg btn-border-primary mx-auto"><a href="/play"> Play! </a></button>
</div>






