<h1>Hangman</h1>

<h3>Welcome to hangman! Guess the letters of a word; a correct guess will fill in the blanks, and an incorrect guess
will add a body part to the hangman drawing. Try to guess the word before the picture is complete!</h3>

<button class="btn"><a href="/play"> Play! </a></button>
