<div class="container">
  <div class="row">
    <div class="col-8">
      <%# for top left side of screen %>
      <div class="card shadow border-primary"> 
        <h5 class="card-title">Hangman Body</h5>
      </div>
    </div>
    <div class="col-4">
      <%# # for right side of screen %>
      <div class="card shadow border-primary">
        <h5 class="card-title">Incorrect Letters</h5>
        <ul class="card-text"> incorrect letters here </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <%# # for bottom left side of screen %>
      <div class="card shadow border-primary">
        <p> word to guess / letters guessed correctly </p>
      </div>
    </div>
    <div class="col-4">
      <%# # for bottom right side of screen %>
      <div class="card shadow border-primary">
        <form>
          <input> letter guess goes here </input>
        </form>
      </div>
    </div>
  </div>
</div>